#articles-page {
  background-image: url("https://kyletennison.b-cdn.net/fusor-cad.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: color-mix(in srgb, var(--background) 80%, transparent);
  background-attachment: fixed;
  background-blend-mode: lighten;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: var(--primary-font);
  align-items: center;
}

@media (prefers-color-scheme: dark) {
  #articles-page {
    background-image: url("https://kyletennison.b-cdn.net/fusor-cad-inverted.webp");
    background-blend-mode: saturation;
  }
}

#articles-page .title-text {
  width: 90%;
  max-width: 1130px;
  margin: 100px 50px 50px 50px;
  border-bottom: 1.5px solid var(--primary-font);
}
#articles-page .title-text h1 {
  font-size: 48px;
  font-weight: 300;
  margin: 0;
}
#articles-page .title-text p {
  font-size: 16px;
  font-weight: 300;
  margin: 5px;
}

#articles-page .card-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  max-width: 1130px;
  width: 90%;
  min-height: calc(100vh - 90px);
}

@media (max-width: 768px) {
  #articles-page {
    background-image: radial-gradient(#cfcfcf 2px, transparent 0);
    background-size: 30px 30px;
    animation: scrollDots 10s linear infinite;
    background-repeat: repeat;
  }
}
