#generic-article {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: var(--primary-font);
  align-items: center;
  z-index: 10;
}

#generic-article .title-text {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  box-sizing: border-box;
  padding: 150px 50px 70px 100px;
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-position: center;
  z-index: 10;
  overflow: hidden;
}

#generic-article .title-text .background {
  z-index: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(5px);
  transform: scale(1.1);
  overflow: hidden;
  background-position: center;
  background-size: cover;
}

#generic-article .title-text h1 {
  position: relative;
  font-size: 48px;
  font-weight: 300;
  margin: 0;
  z-index: 10;
}
#generic-article .title-text p {
  position: relative;
  font-size: 16px;
  font-weight: 300;
  margin: 5px;
  z-index: 10;
}

#generic-article .article-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 1130px;
  margin-top: 50px;
  margin-bottom: 100px;
  width: 100%;
  padding: 0px 5%;
  color: var(--primary-font);
  line-height: 1.5;
  font-size: 16px;
  min-height: calc(100vh - 300px);
  box-sizing: border-box;
}

#generic-article .article-body img,
video,
.youtube {
  max-width: 50%;
  max-height: 500px;
  aspect-ratio: auto;
  display: block;
  margin: 15px auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--border-stroke);
  background-color: white;
}

#generic-article .article-body .long-horiz {
  /* width: 120vw; */
  /* width: fit-content; */
  width: 100%;
  box-sizing: content-box;
  overflow-x: scroll;
  overflow-y: hidden;
  /* margin: 0px -5%;
  padding-right: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column; */
}
#generic-article .article-body .youtube {
  /* width: 480px; */
  /* width: 80% !important; */
  max-width: 80%;
  /* height: 270px; */
  border: none;
  aspect-ratio: 16/9;
}

#generic-article .article-body .il {
  font-size: 14px;
  background-color: var(--background-hint);
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  padding: 0.2em 0.4em;
  border-radius: 6px;
}

#generic-article .article-body .codeblock code {
  font-size: 12px;
}

#generic-article .article-body .codeblock code, pre {
  -webkit-text-size-adjust: 100%;
}

#generic-article .article-body .codeblock {
  font-size: 12px;
  text-align: left !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 1000px;
  overflow: scroll;
  padding: 20px;
  border-radius: 6px;
  width: fit-content;
}

#generic-article .article-body a {
  color: var(--link-color);
  text-decoration: underline;
  cursor: pointer;
}

#generic-article .article-body .centered {
  text-align: center;
  display: block;
  margin: 0 auto;
}

#generic-article .article-body .clickable {
  cursor: pointer;
  text-decoration: underline;
}

#generic-article .article-body .code {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}

@media (max-width: 768px) {
  #generic-article .title-text {
    text-align: center;
    padding: 150px 50px 70px 50px;
  }
  #generic-article .article-body {
    text-align: justify;
  }
  #generic-article .article-body img,
  video {
    max-width: 80%;
  }
}
