#header .header-bar {
  background-color: var(--header-bk);
  color: var(--header-font);
  display: flex;
  height: 62px;
  align-items: center;
  padding-right: 40px;
  padding-left: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  box-sizing: border-box;
  z-index: 1000;
}

#header a {
  color: var(--header-font);
  text-decoration: none;
  transition: 0.2s;
}

#header a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#header .right {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

#header .logo {
  font-weight: 300;
  font-size: 24px;
}

#header .logo:hover {
  cursor: pointer;
}

#header nav {
  text-align: right;
}

#header nav a {
  margin: 10px;
  padding: 10px;
  border-radius: 7px;
}

.desktop-nav {
  display: flex;
}

.mobile-menu {
  z-index: 800 !important;
  width: 200px !important;
}

.bm-burger-button {
  display: none;
  z-index: 900;
}

@media (max-width: 768px) {
  .desktop-nav {
    display: none;
  }

  #header nav {
    text-align: center;
  }

  .bm-burger-button {
    display: block;
    position: fixed;
    width: 24px;
    height: 24px;
    right: 16px;
    top: 16px;
  }

  .bm-menu {
    display: block !important;
  }
}

.bm-burger-button > i {
  font-size: 24px;
  color: var(--header-font);
}

.bm-menu {
  display: none;
  background: var(--header-bk);
  padding: 5em 1.5em;
  font-size: 1.15em;
  position: relative;
  top: 20px;
  z-index: 3;
}

.bm-item {
  display: block;
  margin: 0;
}
