.project-card {
  width: 270px;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--background-hint);
  color: var(--primary-font);
  display: flex;
  flex-direction: column;
  user-select: none;
  border: 1px solid var(--primary-font);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
  height: min-content;
}

.project-card .project-card-image {
  max-width: 100%;
  display: block;
  object-fit: cover;
  border-bottom: 2px solid var(--border-stroke);
  height: 140px;
}

.project-card .project-card-content {
  padding: 1.5rem 2rem 2rem 2rem;
  text-align: center;
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-card .project-card-title {
  margin: 0px;
  font-weight: 300;
  font-size: 20px;
}

.project-card .project-card-description {
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 1.8rem;
}
.project-card .project-card-icon {
  line-height: 0;
  font-size: 20px;
  align-items: center;
}

.project-card .project-card-button {
  font-weight: 300;
  font-size: 14px;
  padding: 8px 40px;
  border: 1px solid var(--primary-font);
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;
  color: var(--primary-font);
  display: inline-flex;
  align-items: center;
  gap: 0.6rem;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
  font-family: inherit;
  justify-content: center;
}

.project-card .project-card-button:hover {
  background-color: #3a3732;
  color: #f0eee9;
}
